@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name=viewport
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1">
    <title>Purdue.io</title>
	@Styles.Render("~/bundles/css")
</head>
<body>
    <header>
		<!-- TODO: This should be a component. -->
		<ul>
		</ul>
	</header>
	<div class="content">
		<div class="userSideBar">
			
		</div>
		<div class="pageContainer">
		</div>
	</div>
	
	<!-- include components -->
	<!-- COMPONENTS -->
	@RenderPage("Components/GlobalProgressIndicator.cshtml")
	@RenderPage("Components/DataTiles.cshtml")
	@RenderPage("Components/Dialog.cshtml")
	@RenderPage("Components/UserBar.cshtml")
	<!-- PAGES -->
	@RenderPage("Components/Pages/SubjectPage.cshtml")
	@RenderPage("Components/Pages/LandingPage.cshtml")
	@RenderPage("Components/Pages/TermSelectPage.cshtml")
	@RenderPage("Components/Pages/CoursePage.cshtml")

	<!-- Javascript -->
	@Scripts.Render("~/bundles/javascript")
	@Scripts.Render("~/bundles/typescript")
</body>
</html>
