@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name=viewport
		  content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Purdue.io</title>
	@Styles.Render("~/bundles/css")
</head>
<body>
    <header>
		<!-- TODO: This should be a component. -->
		<ul>
		</ul>
	</header>
	<div class="content">
		<div class="userSideBar">
			<h1>Hayden McAfee</h1>
			<h2>time ticket</h2>
			<p>unknown</p>
			<h2>schedule</h2>
			<p>unknown</p>
			<h2>pinned sections</h2>
			<p>unknown</p>
		</div>
		<div class="pageContainer">
		</div>
	</div>
	
	<!-- include components -->
	<!-- COMPONENTS -->
	@RenderPage("Components/GlobalProgressIndicator.cshtml")
	@RenderPage("Components/DataTiles.cshtml")
	@RenderPage("Components/Dialog.cshtml")
	<!-- PAGES -->
	@RenderPage("Components/Pages/SubjectPage.cshtml")
	@RenderPage("Components/Pages/LandingPage.cshtml")
	@RenderPage("Components/Pages/TermSelectPage.cshtml")

	@Scripts.Render("~/bundles/javascript")
	@Scripts.Render("~/bundles/typescript")
</body>
</html>
